NODE_ENV=development
PORT=5000
API_VERSION=v1
APP_NAME=AutoLease
APP_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:password@localhost:5432/autolease
DATABASE_SSL=false

JWT_ACCESS_SECRET=61181d413f7882585d36c160
581934a0e931424246a7a838
289be6d40d1b40c38de75524
dad9fc5adcc8c3755a29739a
20d3f2fdfc5efef8463d3871
36fbd211
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=517e6b1e24b123f15df06bb4a00e656376cb42d18f5dad448515397306e126ce8bb
dc4244eb7f99ba6055bf5f3b4be91730b99fc83f7061fae939fb66c8a3qz6
JWT_REFRESH_EXPIRES_IN=30d

COOKIE_SECRET=5b5447e11731b94c86a2cb435280c4905ba8932913638dcfd668b7f6797cd230063
dca5a92a6fc449e9001635364cccdb0ca3a7fae8ae30f65a2a976a8018cef

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co
PLATFORM_COMMISSION_PERCENT=15

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=AutoLease <no-reply@autolease.local>

REDIS_URL=redis://localhost:6379

LOG_LEVEL=info